body{
  font-family: Arial;
  background: linear-gradient(135deg,#667eea,#764ba2);
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin:0;
  color:white;
}


.card{
  background: rgba(255,255,255,0.1);
  padding:20px;
  width:340px;
  border-radius:15px;
  text-align:center;
}

button{
  width:100%;
  padding:10px;
  margin:6px 0;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-weight:bold;
}

.opt{
  background:white;
  color:black;
}

.btn-row{
  display:flex;
  justify-content:space-between;
  gap:10px;
  margin-top:15px;
}

.next-btn{
  width:48%;
  padding:10px;
  border:none;
  border-radius:10px;
  background:#00c6ff;
  color:white;
  font-weight:bold;
  cursor:pointer;
}

.submit-btn{
  width:48%;
  padding:10px;
  border:none;
  border-radius:10px;
  background:#28a745;
  color:white;
  font-weight:bold;
  cursor:pointer;
}

.next-btn:hover, .submit-btn:hover{
  opacity:0.8;
}

h1{
  color:black;
}
h3{
  color:black;
}

input{
  width: 70%;
  padding: 14px;
  font-size: 12px;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
}

